# 忽略編譯後的輸出資料夾
bin/
obj/
Release/
Debug/

# 忽略 Visual Studio 產生的檔案
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# 忽略組件輸出檔案
*.dll
*.exe
*.pdb
*.cache
*.json
*.ref*

# 忽略備份檔案
*.bak
*.tmp

# 忽略其他暫存檔案
~*
*.log

# 忽略整個 obj 目錄
**/obj/

# 忽略 AssemblyInfo 相關檔案
**/AssemblyInfo.*
**/RazorAssemblyInfo.*

**/*.pubxml
**/*.pubxml.user
**/*.publishproj
