@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Section -->
<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>關於四季</h2>
                    </div>
                    <p>
                        谷關四季溫泉飯店巴里島式的建築外觀，全館呈現出十足的南洋休閒風情
                        館內提供給遊客多元享受的泡湯樂趣，除了湯屋外，泡湯區有棕呂露天溫泉、兒童遊戲區、及針對男女專設的霸王泉和美人湯、獨鍾裸湯的君子泉和玉女湯；給您最優質的谷關住宿體驗
                    </p>
                    <a href="">
                        四季初衷
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>谷關最多泉池</h2>
                    </div>
                    <p>
                        我們有谷關溫泉地區最多的泉池，霸王泉、美人湯、男女裸湯、SPA按摩湯、腳底按摩、溫泉魚等，一到四樓皆有泡湯區、還有獨鍾裸湯的君子泉和玉女湯給您最放鬆的享受
                    </p>
                    <a href="">
                        更多設施
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/facility-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>




<!-- info section -->
<section class="info_section long_section">

    <div class="container">
        <div class="contact_nav">
            <a href="tel:0988555666">
                <!--tel:協議支援在手機或支援撥號功能的應用上直接撥號-->
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    Call : 0988555666
                </span>
            </a>
            <a href="mailto:demo@gmail.com">
                <!--mailto:協議會打開預設的電子郵件客戶端，並填入指定的收件人地址-->
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                    Email : demo@gmail.com
                </span>
            </a>

            <!--設定Google Maps 的查詢參數, target="_blank"屬性使連結在新分頁中打開，避免跳轉後離開當前頁面-->
            <a href="https://www.google.com/maps?q=四季溫泉會館" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                    424台中市和平區東關路一段溫泉巷8之1號
                </span>
            </a>
        </div>
    </div>
</section>
<!-- end info_section -->
